/* Contenedor de novedades */

#novedades {
    max-width: 85svw;
    max-height: 800px;
    position: relative;
    margin: 20px auto 40px;
    overflow: hidden;
    border-radius: 5px;
    padding: 0;
}

#novedades > h2 {
    margin-bottom: 15px;
}

/* La novedad actual */

#slide {
    display: block;
    position: relative;
    width: 100%;
}

#slide > h3 {
    position: absolute;
    top: 30px;
    color: rgb(255, 255, 255);
    z-index: 1;
    font-family: var(--poppins);
    font-size: 60px;
    padding: 15px 15px 15px 40px;
    background-color: rgba(179, 89, 167, 0.6);
    line-height: 1em;
    transition: opacity 0.5s ease-in-out;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    border-radius: 0 30px 30px 0;
    max-width: 70%;
}

/* Imagen de fondo del contenedor */

#slide-image {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    filter: blur(1px) brightness(60%);
}

/* Overlay con el titulo y la descripción de la novedad actual */

#info-slide {
    position: absolute;
    height: 0;
    bottom: 0;
    z-index: 1;
    transition: height 0.7s ease-in-out;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

#info-slide > h3 {
    font-family: var(--poppins);
    font-size: 70px;
    padding: 30px 15px 10px 15px;
    color: white;
    line-height: 1em;
    text-align: center;
}

#info-slide > p {
    display: block;
    font-family: var(--poppins);
    width: 95%;
    color: white;
    padding: 10px;
    margin: 0 auto;
    font-size: 40px;
    max-height: 400px;
    overflow: hidden;
}

/* on hover, escondemos el titulo de la izquierda y traemos el overlay */

#slide:hover #info-slide {
    height: 100%;
}

#slide:hover > h3 {
    opacity: 0;
}

/* Media queries */

/* Laptops y PCs medianas */
@media screen and (max-width: 1366px) {
	#novedades {
		max-width: 90svw;
	}

    #info-slide > h3, #slide > h3 {
        font-size: 55px;
    }

    #info-slide > p {
        font-size: 35px;
    }
}

/* Laptops y PCs chicas */
@media screen and (max-width: 1024px) {
    #info-slide > h3, #slide > h3 {
        font-size: 45px;
    }

    #info-slide > h3 {
        padding-top: 15px;
        padding-bottom: 5px;
    }

    #info-slide > p {
        font-size: 25px;
    }
}

/* Tablets */
@media screen and (max-width: 768px) {
    #info-slide > h3, #slide > h3 {
        font-size: 35px;
    }

    #slide > h3 {
        top: 20px;
        padding-left: 20px;
    }

    #info-slide > p {
        font-size: 17px;
    }
}

/* Celulares */
@media screen and (max-width: 576px) {
	#novedades {
		max-width: 98svw;
	}
    #info-slide > h3, #slide > h3 {
        font-size: 20px;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
    }

    #slide > h3 {
        max-width: 80%;
    }

    #info-slide > p {
        font-size: 14px;
    }
}
