@import './notificacion.css';

/* El formulario en si */

form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: #cacaca;
	justify-content: space-around;
	border-radius: 10px;
	margin: 0 auto;
	width: 70%;
	padding: 40px 0;
}

/* Secciones del formulario */

fieldset {
	width: 90%;
	border-radius: 15px;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
}

/* La leyenda del fieldset (Datos personales y Consulta) */

legend {
	font-family: var(--poppins);
	margin-left: 20px;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 19px;
	background-color: #8066c3;
    color: white;
}

/* Cada linea dentro del fieldset (e.g. Nombre y apellido) */

.form-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 15px;
}

/* Los divs para separar cada campo del formulario */

.item {
	flex: 0 0 45%;
	display: flex;
	flex-direction: column;
}

/* Los campos donde insertar el texto */

input, textarea {
	padding: 8px 15px;
	border: 1px solid grey;
	border-radius: 20px;
	background-color: #ebebeb;
}

input:not([type="radio"]):hover {
	border: 1px solid rgb(0, 0, 0);
}

/* El nombre del campo */

label {
	font-family: var(--poppins);
	display: block;
	padding-bottom: 10px;
	font-size: 16px;
}

.titulo-campo {
	font-weight: 600;
}

/* Campo para el comentario */

textarea {
	resize: vertical;
	min-height: 100px;
}

#box-comentario {
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
}

/* Botones de borrar y enviar */

form > button {
	border-radius: 25px;
	border: none;
	color: white;
	cursor: pointer;
	padding: 15px 35px;
	font-size: 18px;
	font-family: var(--open-sans);
}

button[type="submit"] {
	background-color: #5fcc63;
}

button[type="submit"]:hover {
	background-color: #5dec62;
}

button[type="reset"] {
	background-color: #cf2f2f;
}

button[type="reset"]:hover {
	background-color: #f73838;
}

/* Media queries */

/* Laptops y PCs chicas */
@media screen and (max-width: 1024px) {
	form {
		width: 100%;
	}
}

/* Tablets y celulares */
@media screen and (max-width: 768px) {
    .form-group {
        flex-direction: column;
		padding: 0 15px;
    }

	form label {
		padding-top: 10px;
	}
}
