@import './animations/notificacion-animation.css';

/* Cuando el formulario es enviado o falla, aparece una notifcación abajo a la derecha durante 5 segundos */

.notificacion {
	animation: fadeOut 1.5s 5s forwards;
	opacity: 0.95;
	position: fixed;
	bottom: 25px;
	right: 25px;
	font-family: var(--open-sans);
	font-size: 17px;
	color: white;
	padding: 15px;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

/* Colores de fondo de cada notificación */

.exito {
	background-color: #4ec050;
}

.fallo {
	background-color: #E44848;
}

/* Iconos de FontAwesome */

.notificacion > i {
	margin-right: 10px;
	font-size: 30px;
}

/* Color de cada icono */

.fa-check {
	color: #0b7224;
}

.fa-xmark {
	color: #970505;
}
