/* El section en si, que contiene los botones y detalles */

#seccion-detalles {
    color: white;

    & h2 {
        font-size: 6rem;
        font-weight: bolder;
        text-align: left;
        max-width: 75%;
    }

    & h6 {
        font-size: 2.7rem;
        padding-top: 5px;
        color: var(--grisclaro);
    }
}

#boton-volver {
    margin-bottom: 15px;
}

#botones-editar-borrar {
    position: absolute;
    right: 0;
    padding-right: inherit;

    /* Solo agregamos margin al segundo boton */
    & a:not(:first-child) {
        margin-left: 15px;
    }
}

/* Clase en común de los botones de volver, editar, y borrar */

a.btn, button.btn {
    font-size: 2.3rem;
    font-family: var(--poppins);
    padding-left: 15px;
    padding-right: 15px;

    /* Iconos de los botones */
    & .fa-solid {
        padding-right: 8px;
    }
}

/* Los detalles de la pelicula */

#detalles-pelicula {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: relative;
    border-radius: 2rem;
    padding: 4rem;

    & a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
        }
    }
}

/* Div que contiene la portada y toda la información */

#portada-informacion {
    display: flex;
    padding: 2rem 1rem 0 0;

    & #portada {
        width: 350px;
    
        & img {
            width: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }

    & #informacion {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 2.5rem;

        & > p {
            font-size: 3.2rem;
            line-height: 4.3rem;
            color: #dddddd;
        }
    }
}

/* Contenedor de los p con el director, pais, lenguaje, etc. */
#otra-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;

    /* Los p en si */
    & p {
        font-size: 3rem;
        text-align: center;

        /* Links */
        & a {
            text-decoration: none;
            font-style: italic;
            color: #dddddd;

            &:hover {
                color: #f5f5f5;
                border-bottom: 1px solid #f5f5f5;
            }
        }
    }
}

#trailer {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h4 {
        font-size: 5.4rem;
        padding: 10px 0;
        text-align: center;
    }

    /* iframe de Youtube */
    & iframe {
        aspect-ratio: 16/9;
        width: 75%;
    }
}

/* Media queries */

/* Laptops y PCs chicas */
@media screen and (max-width: 1024px) {
    #portada-informacion {
        flex-direction: column;
        align-items: center;

        & #informacion {
            padding-left: 0;
        }
    }

    #trailer {
        & iframe {
            width: 100%;
        }
    }

    #botones-editar-borrar {
        display: flex;
        flex-direction: column;
        align-items: center;

        & a {
            width: 130px;
            padding-left: 0;
            padding-right: 0;
        }

        & a:not(:first-child) {
            margin-top: 10px;
            margin-left: 0;
        }
    }
}