@import './inicio/trailers.css';
@import './inicio/slider-novedades.css';
@import 'footer.css';
@import 'navbar.css';
@import './cartelera/cartelera.css';
@import './faq/faq.css';
@import './contacto/formulario.css';
@import './app/tabla.css';
@import './app/detalles.css';

/* saco configuraciones por defecto de CSS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variables para las fuentes de google fonts y colores */

:root {
	--poppins: 'Poppins', sans-serif;
	--open-sans: 'Open Sans', sans-serif;
	--negro: #0D0D0D;
	--grisoscuro: #404040;
	--grisclaro: #D9D9D9;
	--blanco: #F2F2F2;
}

/*
Reglas generales del HTML. 
Font-size 62.5% nos permite usar valores como 2rem para referirnos a 20px en vez de tener que hacer calculos a cada rato
*/

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

/* Junto al body flex, nos aseguramos que el main crezca si el body no ocupa 100svh solo con el contenido */

body {
	background-image: linear-gradient(to bottom right, #6b2f58, #372566);
}

#vue-app {
	display: flex;
	min-height: 100svh;
	flex-direction: column;
}

main {
	flex: 1;
}

/* estilos para cada section */

section {
	background-color: #c185d400;
	max-width: 85svw;
	margin: 20px auto;
	padding: 10px 30px 30px 30px;
	text-align: justify;
	border-radius: 40px;
}

section [id] {
	scroll-margin-top: 25px;
}

/* Reglas generales para titulos h2 y parrafos */

h2 {
	text-align: center;
	font-family: var(--open-sans);
	color: white;
	font-size: 45px;
}

p {
	font-family: var(--open-sans);
	font-size: 3.5rem;
}

/* El titulo con el nombre de la pagina */

#titulo-pagina {
	text-align: center;
    font-size: 7rem;
	padding-top: 60px;
    padding-bottom: 20px;
    font-family: var(--poppins);
    color: white;
}

/* Media queries */

/* Laptops y PCs medianas */
@media screen and (max-width: 1366px) {
	html {
		font-size: 9px;
	}

	section {
        max-width: 100%;
    }
}

/* Laptops y PCs chicas */
@media screen and (max-width: 1024px) {
	html {
		font-size: 8px;
	}
}

/* Tablets */
@media screen and (max-width: 768px) {
	html {
		font-size: 7px;
	}
}

/* Celulares */
@media screen and (max-width: 576px) {
	html {
		font-size: 6px;
	}
	section {
        padding: 10px;
    }
}
