{% extends "base.html" %}
{% load static %}

{% block extra-head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}

{% block titulo %}
	Peliculas
{% endblock %}

{% block content %}
	<h1 id="titulo-pagina">Peliculas</h1>

	<section id="peliculas">
		<div id="top-tabla">
			{% if pelicula_list.count %}
				<span id="counter-peliculas">Mostrando {{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ page_obj.paginator.count }} películas</span>
			{% endif %}
			<div id="botones-agregar-borrar">
				<a class="btn btn-success" href={% url 'peliculas:crear' %} role="button">
					<i class="fa-solid fa-plus"></i>
					Agregar
				</a>
				{% if parametros %}
					<a class="btn btn-secondary" href={% url 'peliculas:all' %} role="button">
						Borrar filtros
					</a>
				{% endif %}
			</div>
		</div>

		<table>
			<tr>
				<th>#</th>
				<th>Título</th>
				<th>Año</th>
				<th>Género</th>
				<th>Lenguaje</th>
				<th>Duración</th>
				<th></th>
			</tr>

			{% for pelicula in pelicula_list %}
				<tr>
					<td> {{ page_obj.start_index|add:forloop.counter0 }} </td>
					<td> {{ pelicula.titulo }} </td>
					<td>
						<a href="{% url "peliculas:all" %}?año={{ pelicula.año }}">{{ pelicula.año }}</a>
					</td>
					<td>
						<a href="{% url "peliculas:all" %}?genero={{ pelicula.genero }}">{{ pelicula.genero }}</a>
					</td>
					<td>
						<a href="{% url "peliculas:all" %}?lenguaje={{ pelicula.lenguaje }}">{{ pelicula.lenguaje }}</a>
					</td>
					<td> {{ pelicula.duracion }} minutos</td>
					<td> 
						<div class="btn-group">
							<button id="dropdown-button" type="button" class="btn btn-lg" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa-solid fa-ellipsis-vertical"></i>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href={% url 'peliculas:detalles' pk=pelicula.pk %}>
									<i class="fa-solid fa-circle-info"></i>Detalles
								</a>
								<a class="dropdown-item" href={% url 'peliculas:editar' pk=pelicula.pk %}>
									<i class="fa-solid fa-pen-to-square"></i>Editar
								</a>
									<a class="dropdown-item" href={% url 'peliculas:eliminar' pk=pelicula.pk %}>
									<i class="fa-solid fa-trash" style="color: #eb0505;"></i>Eliminar
								</a>
							</div>
							</div>
					</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="7">
						{% if parametros %}
							No se encontraron películas para los filtros especificados.
						{% else %}
							No hay películas disponibles en este momento.
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>

		{% if page_obj.paginator.num_pages > 1 %}
			<div id="paginas">
				{% if page_obj.has_previous %}
					<a href="?{{ parametros }}&page={{ page_obj.previous_page_number }}">
						<i class="fa-solid fa-angle-left"></i>
					</a>
				{% endif %}

				<span>
					Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
				</span>

				{% if page_obj.has_next %}
					<a href="?{{ parametros }}&page={{ page_obj.next_page_number }}">
						<i class="fa-solid fa-angle-right"></i>
					</a>
				{% endif %}
			</div>
		{% endif %}
	</section>
{% endblock %}
