{% extends "base.html" %}
{% load static %}

{% block extra-head %}
    <script src="{% static 'js/index.js' %}" type="module"></script>
{% endblock %}

{% block titulo %}Inicio{% endblock %}

{% block content %}
	<h1 id="titulo-pagina">¡Bienvenido a Cine MasterFrame!</h1>

	<section id="novedades" v-if="novedades.length > 0">
		<h2>Novedades</h2>

		<div>
			<Novedad :nueva-novedad="nuevaNovedad" @mouseenter="hoveringSlide = true" @mouseleave="hoveringSlide = false"></Novedad>
		</div>
	</section>

	<section id="trailers" v-if="trailers.length > 0">
		<h2>Proximamente</h2>

		<div id="trailers-container">
			<div v-for="trailer in trailers">
				<h3 :title="trailer.titulo">@{{trailer.titulo}}</h3>
				<iframe :src="trailer.video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
			</div>
		</div>
	</section>
{% endblock %}
